<div class="container">

    <div class="grid">
        <div class="col-12 relative">
            <h2 class="titles">{{ editando ? 'Edição de' : 'Nova' }} Doação</h2>
        </div>
    </div>

    <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">


        <div class="left">

            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Htlv: </label>
                <input placeholder="Ex: Positivo" pInputText type="text" name="htlv" formControlName="htlv" [required]="true">
                <app-message [control]="formulario.get('htlv')" error="required" text="Informe o resultado"></app-message>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Anti hbc: </label>
                <input placeholder="Ex: Positivo" pInputText type="text" name="antiHbc" formControlName="antiHbc" [required]="true">
                <app-message [control]="formulario.get('antiHbc')" error="required" text="Informe o resultado"></app-message>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Hbv nat: </label>
                <input placeholder="Ex: Positivo" pInputText type="text" name="hbvNat" formControlName="hbvNat" [required]="true">

                <app-message [control]="formulario.get('hbvNat')" error="required" text="Informe o resultado"></app-message>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Nome do pai: </label>
                <input placeholder="Ex: Claudio" pInputText type="text" name="nomePai" formControlName="nomePai" [required]="true">
                <app-message [control]="formulario.get('nomePai')" error="required" text="Informe o nome do pai do doador"></app-message>
            </div>

        </div>

        <div class="right">
            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Responsável pela coleta: </label>
                <input placeholder="Ex: Maria" pInputText type="text" name="responsavelColeta" formControlName="responsavelColeta" [required]="true">
                <app-message [control]="formulario.get('responsavelColeta')" error="required" text="Informe o responsável pela coleta"></app-message>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Doador: </label>
                <input placeholder="Ex: Augusto" pInputText type="text" name="usuario" formControlName="usuario" [required]="true">
                <app-message [control]="formulario.get('usuario')" error="required" text="Informe o nome do doador"></app-message>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Volume coletado: </label>
                <input placeholder="Ex: 400ml" pInputText type="text" name="volumeColetado" formControlName="volumeColetado" [required]="true">
                <app-message [control]="formulario.get('volumeColetado')" error="required" text="Informe o volume coletado"></app-message>
            </div>

        </div>
        <div class="col-12 buttom">
            <button pButton type="button" class="color disabled-hover" (click)="voltar()" label="Voltar"></button>
            <button pButton type="submit" class="button-danger" [disabled]="formulario.invalid" label="Finalizar"></button>
        </div>

    </form>
</div>