<div class="container">
    <div class="content-image"></div>
    <form autocomplete="off" #cadastroForm="ngForm">
        <div class="grid">
            <div class="container-top">
                <div class="col-12 p-fluid">
                    <h1>Criar Conta</h1>
                </div>

                <div class="col-12 p-fluid">
                    <div>Nome: </div>
                    <input class="input-nome" pInputText type="text" name="nome" placeholder="Insira seu nome" ngModel required #nome>
                </div>

                <div class="col-12 p-fluid">
                    <div>Email: </div>
                    <input class="input-email" pInputText type="email" name="usuario" placeholder="Insira seu e-mail" ngModel required #usuario>
                </div>

                <div class="col-12 p-fluid">
                    <div>Senha: </div>
                    <input class="input-password" pInputText type="password" name="senha" placeholder="Insira sua senha" ngModel required #senha>
                </div>

                <div class="col-12 p-fluid">
                    <div>Data Nascimento: </div>
                    <p-calendar name="nascimento" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false" name="dataNascimento" [required]="true"></p-calendar>

                    <!-- <app-message [control]="formulario.get('dataNascimento')" error="required" text="Informe uma data de nascimento"></app-message> -->
                </div>

                <!-- <div class="col-12 p-fluid">
                    <div>Tipo sanguíneo</div>
                    <p-dropdown [options]="grupoSanguineo" placeholder="Selecione" name="grupoSanguineo" #grupo [required]="true"></p-dropdown>
                </div> -->

            </div>

        </div>
    </form>
</div>