<nav class="navbar">
  <div class="content-navbar-menu">

    <div class="content-search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="search" placeholder="Busca" class="search" />
    </div>

    <ul class="navbar-menu">
      <li class="navbar-menuitem"> <i class="fa-solid fa-house"></i> <a href="#">Home</a></li>
      <li class="navbar-menuitem"> <i class="fa-solid fa-droplet"></i> <a href="#">Doações</a></li>
      <li class="navbar-menuitem"> <i class="fa-regular fa-bell"></i> <a routerLink="/campanhas">Campanhas</a></li>
      <li class="navbar-menuitem"> <i class="fa-regular fa-address-book"></i> <a href="#">Agendamentos</a></li>
    </ul>

  </div>

  <div class="logout">
    <a href=""><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
  </div>
</nav>

