<app-navbar></app-navbar>
<div class="container">
  <div class="grid">
    <div class="col-12 relative">
      <h2 class="titles">Cadastrar Usuário</h2>
    </div>
    <form autocomplete="off" #usuarioForm="ngForm"
      (ngSubmit)="salvar(usuarioForm)">

      <div class="left">
        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Bairro</label>
          <input placeholder="Ex: Morumbi" pInputText type="text" name="nome"
            ngModel #nome="ngModel" [required]="true">
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Estado</label>
          <input placeholder="Ex: SP" pInputText type="text" name="nome"
          ngModel #nome="ngModel" [required]="true">
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Cor</label>
          <input placeholder="Ex: Branca" pInputText type="text" name="nome"
            ngModel #nome="ngModel" [required]="true">
        </div>
      </div>

      <div class="right">
        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">CEP</label>
          <input placeholder="Ex: maria@gmail.com" pInputText type="text" name="email"
          ngModel #email="ngModel" [required]="true">
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Escolaridade</label>
          <input placeholder="Ex: Ensino Superior Completo" pInputText type="text" name="email"
          ngModel #email="ngModel" [required]="true">
        </div>
      </div>

      <div class="col-12 buttom">
        <button pButton type="button" class="color disabled-hover" label="Voltar"></button>
        <button pButton type="submit" class="p-button-danger" [disabled]="!usuarioForm.valid" label="Finalizar"></button>
      </div>
    </form>
  </div>
</div>



