<div class="grid">
    <div class="col-12 relative ">
        <h2 class="titles scroll">Campanhas</h2>
        <p-table [value]="campanhasUsuarios" [paginator]="true" [rows]="filtro.itensPorPagina" [responsive]="true" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Nome da campanha</th>
                    <th>Tipo sanguíneo</th>
                    <th class="col-data-header">De</th>
                    <th class="col-data-header">Até</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-campanha>
                <tr>
                    <td>
                        <span class="p-column-title">ID</span> {{ campanha.campanhaId }}
                    </td>

                    <td>
                        <span class="p-column-title">Nome da campanha</span> {{ campanha.campanhaNome }}
                    </td>

                    <td class="col-data">
                        <span class="p-column-title">Tipo sanguíneo</span> {{ campanha.grupoSanguineoNome }}
                    </td>

                    <td class="col-data">
                        <span class="p-column-title">De</span> {{ campanha.dataInicialCampanha | date:'dd/MM/y' }}
                    </td>

                    <td class="col-data">
                        <span class="p-column-title">Até</span> {{ campanha.dataFinalCampanha | date:'dd/MM/y' }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>