<div class="grid">
  <div class="col-12 relative">
    <h2 class="titles">Usuários</h2>
    <div class="button-novo-usuario">
      <a class="disabled-hover margin-button" pButton label="Novo usuário" routerLink="/usuarios/usuario-container"></a>
    </div>
    <p-table [value]="usuarios" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true"
        [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Nacionalidade</th>
          <th>Profissão</th>
          <th class="col-data-header">Data de Nascimento</th>
          <th>Sexo</th>
          <th class="col-acoes">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuario>
        <tr>
          <td>
            <span class="p-column-title">ID</span>
            {{ usuario.id }}
          </td>

          <td>
            <span class="p-column-title">Nome</span>
            {{ usuario.nome }}
          </td>

          <td>
            <span class="p-column-title">CPF</span>
            {{ usuario.cpf }}
          </td>

          <td>
            <span class="p-column-title">Telefone</span>
            {{ usuario.telefone}}
          </td>

          <td>
            <span class="p-column-title">Nacionalidade</span>
            {{ usuario.nacionalidade }}
          </td>

          <td>
            <span class="p-column-title">Profissão</span>
            {{ usuario.profissao }}
          </td>

          <td class="col-data">
            <span class="p-column-title">Data de Nascimento</span>
            {{ usuario.dataNascimento | date:'dd/MM/y' }}
          </td>

          <td>
            <span class="p-column-title">Sexo</span>
            {{ usuario.sexo }}
          </td>

            <td class="col-acoes">
              <button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
              [routerLink]="['/usuarios/usuario-container/usuario-cadastro-step1/', usuario.id]"></button>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">
            Nenhum usuário encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>



