<div class="grid">
    <div class="col-12 relative ">
        <h2 class="titles scroll">Solicitações</h2>
        <p-table [value]="solicitacoes" [paginator]="true" [rows]="filtro.itensPorPagina" [responsive]="true" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Usuário</th>
                    <th class="col-data-header">Data da Solicitação</th>
                    <th>Apto a Doar</th>
                    <th>Grupo Sanguíneo</th>
                    <th>Status da Solicitação</th>
                    <th class="col-acoes">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-solicitacao>
                <tr>
                    <td>
                        <span class="p-column-title">ID</span> {{ solicitacao.id }}
                    </td>

                    <td>
                        <span class="p-column-title">Usuário</span> {{ solicitacao.usuario.nome }}
                    </td>

                    <td class="col-data">
                        <span class="p-column-title">Data Solicitação</span> {{ solicitacao.dataSolicitacao | date:'dd/MM/y' }}
                    </td>

                    <td>
                        <span class="p-column-title">Apto a Doar</span> {{ solicitacao.apto === 'true' ? 'Não' : 'Sim' }}
                    </td>

                    <td class="col-data">
                        <span class="p-column-title">Grupo Sanguíneo</span> {{ solicitacao.grupoSanguineo }}
                    </td>

                    <td>
                        <span class="p-column-title">Status da Solicitação</span> {{ solicitacao.status }}
                    </td>

                    <td class="col-acoes">
                        <span class="p-column-title"></span>
                        <button pButton icon="pi pi-pencil" pTooltip="Editar" [routerLink]="['/solicitacoes', solicitacao.id]" tooltipPosition="top"></button>
                        <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(solicitacao)"></button>
                        <span class="p-column-title"></span>
                        <button pButton icon="pi pi-check" pTooltip="Aprovar" (click)="aprovarSolicitacao(solicitacao)" tooltipPosition="top"></button>
                        <button pButton icon="pi pi-times" pTooltip="Recusar" (click)="recusarSolicitacao(solicitacao)" tooltipPosition="top"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>