<div class="container">
    <div class="content-image"></div>
    <form autocomplete="off" #resetPasswordForm="ngForm">
        <div class="grid">
            <div class="container-top">
                <div class="col-12 p-fluid">
                    <h1>Recuperar acesso</h1>
                </div>

                <div class="espacamento">
                    <div class="col-12 p-fluid">
                        <div>E-mail: </div>
                        <input class="input-email" pInputText type="email" name="usuario" placeholder="Insira seu e-mail" ngModel required #email>
                    </div>
                </div>

                <div class="col-12 p-fluid">
                    <button pButton type="submit" label="Enviar" (click)="recuperar(email.value)" class="button-danger"></button>
                </div>


                <div class="col-12 p-fluid">
                    <button pButton type="submit" label="Voltar" class="p-button-danger" routerLink="/login"></button>
                </div>
            </div>
        </div>
    </form>
</div>