.button-danger {
    text-align: center;
    font-weight: bold;
    background-color: #F02323 !important;
    height: 50px;
    border-radius: 6px;
}

a {
    color: #8E2929;
    text-decoration: none;
}

.col-12 {
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex: 1;
}

.text-container-footer {
    margin-bottom: 12px;
    color: #828282;
}

.content-image {
    height: 100%;
    flex: 1 60%;
    background: url(/assets/image-background.png) no-repeat;
    background-size: 80%;
    background-color: #375e6d;
    background-position: center;
}

form {
    flex: 1 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: black;
    flex-direction: column;
}

.grid {
    display: flex;
    flex-wrap: inherit;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.p-button-danger {
    height: 50px;
    border-radius: 6px;
    background: #F02323;
    margin-bottom: 12px;
}

.input-email {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 10px 13px;
    gap: 13px;
    width: 420px;
    height: 45px;
    border: 1px solid #DED2D9;
    border-radius: 5px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.container-footer {
    bottom: 0;
    position: absolute;
}

.align {
    text-align: center;
}

:host(app-reset-senha) {
    display: flex;
    width: 100%;
}

@media(max-width: 1600px) {
     :host(app-reset-senha) {
        zoom: 0.6;
    }
    .content-image {
        display: none;
    }
    grid {
        display: flex;
        width: 100%;
    }
    .container-top {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 70%;
    }
    .input-email {
        width: 100%;
        height: auto;
    }
}

@media(max-width: 810px) {
    grid {
        display: flex;
        width: 100%;
    }
    .container-top {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 70%;
    }
}