<div class="container">
  <div class="content-image">

  </div>
    <form autocomplete="off" #loginForm="ngForm">
        <div class="grid">
            <div class="container-top">
              <div class="col-12 p-fluid" >
                <h1>Login</h1>
              </div>

              <div class="col-12 p-fluid" >
                  <div>E-mail: </div>
                  <input pInputText type="email" name="usuario" placeholder="Insira seu e-mail" ngModel required #usuario>
              </div>

              <div class="col-12 p-fluid" >
                  <div>Senha: </div>
                  <input pInputText type="password" name="senha" placeholder="Insira sua senha" ngModel required #senha>
              </div>

              <div class="col-12 p-fluid" >
                  <button pButton type="submit" label="Entrar" class="p-button-danger"></button>
              </div>
            </div>

            <div class="container-footer">
              <div>
                <div>
                  <div >Não é registrado ainda? </div>
                  <div> <a style="color: #8E2929; text-decoration: none;" href="/">Crie uma conta</a></div>
                </div>

                <div>
                  <div>Esqueceu a senha? </div>
                  <div> <a style="color: #8E2929; text-decoration: none" href="/">Recuperar senha</a></div>
                </div>
              </div>
          </div>
        </div>
    </form>
</div>
