.p-button-danger {
  text-align: center;
  font-weight: bold;
}

.col-12 {
  margin-bottom: 5px;
}

.container {
  display: flex;
  flex: 1;

}

.content-image{
  height: 100%;
  flex: 1 60%;
  background: url("/assets/image-background.png") no-repeat;
  background-size: cover;
  background-position: center;
}
form{
  flex: 1 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-top{
  width: 100%;
}

.grid{
  display: flex;
  flex-wrap: inherit;
  flex-direction: column;
  width: 70%;
  align-items: center;
}


