<div class="container">

    <div class="grid">

        <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">


            <div class="left">

                <div class="col-12 md:col-6 p-fluid">
                    <label class="espacamento">Data da Doação: *</label>
                    <p-calendar name="dataDoacao" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false" name="dataDoacao" [required]="true" formControlName="dataDoacao"></p-calendar>
                    <app-message [control]="formulario.get('dataDoacao')" error="required" text="Informe a data da doação"></app-message>
                </div>

                <div class="col-12 md:col-6 p-fluid">
                  <label class="espacamento">Hora: *</label>
                  <p-inputMask mask="99:99:99" [required]="true" placeholder="Ex: 12:03:45" name="hora" formControlName="hora"></p-inputMask>
                  <app-message [control]="formulario.get('hora')" error="required" text="Informe a hora"></app-message>
                </div>


                <div class="col-12 md:col-6 p-fluid">
                    <label class="espacamento">Tipo da Doação: *</label>
                    <input placeholder="Ex: Reposição" pInputText type="text" name="tipoDoacao" formControlName="tipoDoacao" [required]="true">

                    <app-message [control]="formulario.get('tipoDoacao')" error="required" text="Informe o tipo da doação"></app-message>
                </div>

                <div class="col-12 md:col-6 p-fluid">
                    <label class="espacamento">Tipo de Doador: *</label>
                    <input placeholder="Ex: 1° vez" pInputText type="text" name="tipoDoador" formControlName="tipoDoador" [required]="true">
                    <app-message [control]="formulario.get('tipoDoador')" error="required" text="Informe o tipo de doador"></app-message>
                </div>

            </div>

            <div class="right">
                <div class="col-12 md:col-6 p-fluid">
                    <label class="espacamento">Sexo do Doador: *</label>
                    <input placeholder="Ex: Feminino" pInputText type="text" name="sexoUsuario" formControlName="sexoUsuario" [required]="true">
                    <app-message [control]="formulario.get('sexoUsuario')" error="required" text="Informe o sexo do doador"></app-message>
                </div>

                <div class="col-12 md:col-6 p-fluid">
                  <label class="espacamento">Idade do Doador: *</label>
                  <input placeholder="Ex: 26 anos" pInputText type="text" name="idadeUsuario" formControlName="idadeUsuario" [required]="true">
                  <app-message [control]="formulario.get('idadeUsuario')" error="required" text="Informe a idade do doador"></app-message>
                </div>

              <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Tipo sanguíneo: *</label>
                <p-dropdown [options]="grupoSanguineo" placeholder="Selecione" name="grupoSanguineoId" formControlName="grupoSanguineoId" [required]="true"></p-dropdown>
              </div>

              <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Doador: *</label>
                <p-dropdown [options]="usuarios" placeholder="Selecione" name="usuarioId" [filter]="true" formControlName="usuarioId">
                </p-dropdown>
              </div>

            </div>

            <div class="col-12 buttom">
                <button pButton type="button" class="color disabled-hover" routerLink="/doacoes" label="Voltar"></button>
                <button pButton type="submit" class="button-danger" [disabled]="formulario.invalid" label="Próximo"></button>
            </div>

        </form>

        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Campos com * são obrigatórios</label>
      </div>

    </div>
</div>
