<div class="container">

    <div class="grid">
        <div class="col-12 relative">
            <h2 class="titles">{{ editando ? 'Edição de' : 'Novo' }} Usuário</h2>
        </div>
    </div>

    <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">


        <div class="left">

            <div class="col-12 md:col-6 p-fluid" formGroupName="grupoSanguineo">
                <label class="espacamento">Tipo sanguíneo: </label>
                <p-dropdown [options]="grupoSanguineo" placeholder="Selecione" name="grupoSanguineo" formControlName="grupoSanguineoId" [required]="true"></p-dropdown>
            </div>

            <div class="col-12 md:col-6 p-fluid" formGroupName="permissao">
                <label class="espacamento">Permissão: </label>
                <p-dropdown [options]="permissoes" placeholder="Selecione" name="permissao" formControlName="id" [required]="true">
                </p-dropdown>
            </div>

        </div>

        <div class="col-12 buttom">
            <button pButton type="button" class="color disabled-hover" (click)="voltar()" label="Voltar"></button>
            <button pButton type="submit" class="button-danger" label="Finalizar"></button>
        </div>

    </form>
</div>