.navbar-menuitem {
    padding: 15px;
    font-size: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    align-items: center;
}

@media(max-width: 1280px) {
     :host(app-navbar) {
        zoom: 0.6;
    }
}

:host(app-navbar) {
    display: flex;
    width: 419px;
}

.navbar-menuitem a {
    color: #fff;
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar-menuitem a:hover {
    color: #fff;
}

.fa-house,
.fa-user,
.fa-bell,
.fa-rotate-right,
.fa-users,
.fa-magnifying-glass,
.fa-user-group,
.fa-right-from-bracket,
.fa-droplet,
.fa-address-book,
.fa-truck-droplet {
    font-size: 25px;
    margin-right: 15px;
    color: white;
    margin-left: 25px;
}

.navbar-usuario {
    padding: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    margin-right: 15px;
    margin-left: 25px;
    text-align: center;
}

.navbar {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    margin: 0;
    padding: 0;
    background-color: #CA0002;
    flex-direction: column;
    align-items: center;
}

.navbar li i {
    width: 26px;
}

.content-navbar-menu li:hover {
    background-color: #7c7c7a;
}

.content-navbar-menu li a {
    font-size: 16px;
}

.profile {
    position: absolute;
    bottom: 80px;
    text-align: center;
}

.profile a {
    color: #fff;
    text-decoration: none;
}

.profile a {
    margin: 0;
    padding: 0;
}

.logout {
    position: absolute;
    bottom: 30px;
    left: 12px;
    right: 12px;
    text-align: center;
}

.logout a {
    color: #fff;
    text-decoration: none;
}

.logout a i {
    margin: 0;
    padding: 0;
}

.content-search {
    position: relative;
    margin: 75px 50px 35px 50px;
}

.content-search i {
    position: absolute;
    color: #7c7c7a;
    top: 5px;
    left: -12px;
}

.content-search .search {
    padding: 12px 12px 12px 50px;
    border: 0;
    border-radius: 4px;
    width: 100%;
}

.navbar-menu {
    padding: 0 12px;
}

.navbar-menuitem.ativo {
    background-color: #7c7c7a;
}

.pi-bars {
    color: #fff;
}

@media screen and (max-width: 600px) {
    .navbar {
        display: none;
    }
}