<div class="container">

    <div class="grid">
      <div class="col-12 relative">
        <h2 class="titles">{{ editando ? 'Edição de' : 'Nova' }} Campanha</h2>
      </div>
    </div>

    <form #campanhaForm="ngForm" autocomplete="off" (ngSubmit)="adicionarCampanha(campanhaForm)">
      <div class="left">
        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Nome da campanha</label>
          <input placeholder="Ex: Campanha de Natal - Grupo Sanguíneo A+" pInputText type="text" name="campanha"
            ngModel #campanha="ngModel" [required]="true">
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">De</label>
          <p-calendar name="de" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false"
          ngModel #vencimento="ngModel" [required]="true"></p-calendar>
        </div>
      </div>

      <div class="right">
        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Tipo sanguíneo</label>
          <!-- <p-dropdown [options]="grupoSanguineo" placeholder="Selecione" [(ngModel)]="campanha"
          name="grupoSanguineo" #grupoSanguineo [required]="true"></p-dropdown> -->
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Até</label>
          <p-calendar name="de" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false"
          ngModel #ate="ngModel" [required]="true"></p-calendar>
        </div>
      </div>

      <div class="col-12 buttom">
        <button pButton type="button" class="color disabled-hover" routerLink="/campanhas" label="Voltar"></button>
        <button pButton type="submit" class="button-danger" label="Finalizar"></button>
      </div>
    </form>

</div>

