<div class="container">
    <div class="grid">
        <div class="col-12 relative">
            <h2 class="titles">Doações</h2>
            <div class="button-nova-doacao">
                <a class="disabled-hover margin-button" pButton routerLink="/doacoes/doacao-container" label="Nova doação"></a>
            </div>

            <p-table [value]="doacoes" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Hora</th>
                        <th>Nome do Pai</th>
                        <th>Responsável pela coleta</th>
                        <th>Doador</th>
                        <th class="col-acoes">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-doacao>
                    <tr>
                        <td>
                            <span class="p-column-title">ID</span> {{ doacao.doacaoId }}
                        </td>

                        <td>
                            <span class="p-column-title">Hora</span> {{ doacao.hora | date:'HH:mm:ss' }}
                        </td>

                        <td class="col-data">
                            <span class="p-column-title">Nome do Pai</span> {{ doacao.nomePai }}
                        </td>

                        <td class="col-data">
                            <span class="p-column-title">Responsável pela coleta</span> {{ doacao.responsavelColeta }}
                        </td>

                        <td class="col-data">
                            <span class="p-column-title">Doador</span> {{ doacao.nomeUsuario }}
                        </td>

                        <td class="col-acoes">
                            <button pButton icon="pi pi-pencil" pTooltip="Editar" [routerLink]="['/doacoes/doacao-container/doacao-cadastro-step1/', doacao.doacaoId]" tooltipPosition="top"></button>
                            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
