<app-navbar></app-navbar>
<div class="container">
  <div class="grid">
    <div class="col-12 relative">
      <h2 class="titles">Cadastrar Usuário</h2>
    </div>
    <form autocomplete="off">

      <div class="left">
        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Nome</label>
          <input placeholder="Ex: Campanha de Natal - Grupo Sanguíneo A+" pInputText type="text" name="campanha"
            ngModel #campanha="ngModel" [required]="true">
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">CPF</label>
          <p-calendar name="de" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false"
          ngModel #vencimento="ngModel" [required]="true"></p-calendar>
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Data nascimento</label>
          <input placeholder="Ex: Campanha de Natal - Grupo Sanguíneo A+" pInputText type="text" name="campanha"
            ngModel #campanha="ngModel" [required]="true">
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Estado civil</label>
          <input placeholder="Ex: Campanha de Natal - Grupo Sanguíneo A+" pInputText type="text" name="campanha"
            ngModel #campanha="ngModel" [required]="true">
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Número de doações prévias</label>
          <input placeholder="Ex: Campanha de Natal - Grupo Sanguíneo A+" pInputText type="text" name="campanha"
            ngModel #campanha="ngModel" [required]="true">
        </div>
      </div>

      <div class="right">
        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Email</label>
          <input placeholder="Ex: A+" pInputText type="text" name="tipo"
          ngModel #tipo="ngModel" [required]="true">
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Telefone</label>
          <input placeholder="Ex: A+" pInputText type="text" name="tipo"
          ngModel #tipo="ngModel" [required]="true">
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Sexo</label>
          <input placeholder="Ex: A+" pInputText type="text" name="tipo"
          ngModel #tipo="ngModel" [required]="true">
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Endereço</label>
          <input placeholder="Ex: A+" pInputText type="text" name="tipo"
          ngModel #tipo="ngModel" [required]="true">
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label class="espacamento">Profissão</label>
          <input placeholder="Ex: A+" pInputText type="text" name="tipo"
          ngModel #tipo="ngModel" [required]="true">
        </div>
      </div>

      <div class="col-12 buttom">
        <button pButton type="button" class="color disabled-hover" label="Voltar"></button>
        <button pButton type="submit" class="button-danger" label="Próximo"></button>
      </div>
    </form>
  </div>
</div>


