<!-- <app-home-admin></app-home-admin> -->
<!-- <app-login class="login"></app-login> -->
<!-- <app-campanhas-pesquisa></app-campanhas-pesquisa> -->
<!-- <app-campanha-cadastro></app-campanha-cadastro> -->
<!-- <app-campanha-atualizacao></app-campanha-atualizacao> -->
<app-usuario-cadastro></app-usuario-cadastro>
<!-- <app-usuario-cadastro-segunda-tela></app-usuario-cadastro-segunda-tela> -->
<!-- <app-grupo-sanguineo-cadastro></app-grupo-sanguineo-cadastro> -->
<!-- <app-reset-senha class="reset"></app-reset-senha> -->
