:host(app-home) {
    background: url(/assets/image-background.png) no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: #375e6d;
    width: 85%;
    height: 100%;
}

@media (max-width: 821px) {
     :host(app-home) {
        background-size: 100%;
        width: 100%;
    }
}
