<div class="container">

    <div class="grid">
        <div class="col-12 relative">
            <h2 class="titles">{{ editando ? 'Edição de' : 'Nova' }} Doação</h2>
        </div>
    </div>

    <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">


        <div class="left">

            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Pressão arterial: </label>
                <input placeholder="Ex: 120/80 mmHg" pInputText type="text" name="pressaoArterial" formControlName="pressaoArterial" [required]="true">
                <app-message [control]="formulario.get('pressaoArterial')" error="required" text="Informe a pressão arterial"></app-message>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Temperatura: </label>
                <input placeholder="Ex: 37°" pInputText type="text" name="temperatura" formControlName="temperatura" [required]="true">
                <app-message [control]="formulario.get('temperatura')" error="required" text="Informe uma temperatura"></app-message>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Hgs: </label>
                <input placeholder="Ex: 4,7%" pInputText type="text" name="hgs" formControlName="hgs" [required]="true">

                <app-message [control]="formulario.get('hgs')" error="required" text="Informe o hgs"></app-message>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Chagas: </label>
                <input placeholder="Positivo" pInputText type="text" name="chagas" formControlName="chagas" [required]="true">
                <app-message [control]="formulario.get('chagas')" error="required" text="Informe o resultado do teste"></app-message>
            </div>

        </div>

        <div class="right">
            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Anti hiv: </label>
                <input placeholder="Ex: Positivo" pInputText type="text" name="antiHiv" formControlName="antiHiv" [required]="true">
                <app-message [control]="formulario.get('antiHiv')" error="required" text="Informe o resultado do teste"></app-message>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Hdrl: </label>
                <input placeholder="Ex: Negativo" pInputText type="text" name="hdrl" formControlName="hdrl" [required]="true">
                <app-message [control]="formulario.get('hdrl')" error="required" text="Informe o resultado"></app-message>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">Hcv: </label>
                <input placeholder="Ex: 65789" pInputText type="text" name="hcv" formControlName="hcv" [required]="true">
                <app-message [control]="formulario.get('hcv')" error="required" text="Informe o resultado"></app-message>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label class="espacamento">HCV NAT: </label>
                <input placeholder="Ex: Negativo" pInputText type="text" name="hcvNat" formControlName="hcvNat" [required]="true">
                <app-message [control]="formulario.get('hcvNat')" error="required" text="Informe o resultado"></app-message>
            </div>

        </div>
        <div class="col-12 buttom">
            <button pButton type="button" class="color disabled-hover" (click)="voltar()" label="Voltar"></button>
            <button pButton type="submit" class="button-danger" [disabled]="formulario.invalid" label="Próximo"></button>
        </div>

    </form>
</div>