<div class="container">
    <form #estoqueForm="ngForm" autocomplete="off" (ngSubmit)="atualizarEstoques()">

        <div class="grid">
            <div class="col-12 relative">
                <h2 class="titles">Atualização de Estoque</h2>
            </div>

            <div class="col-12 md:col-3 p-fluid" *ngFor="let s of status; let index = index">
                <label>{{s.nomeGrupoSanguineo}}</label>
                <p-dropdown (ngModelChange)="teste($event, index)" [options]="allStatus" placeholder="{{s.status}}" name="s.status" [filter]="true" #status [(ngModel)]="s.status" [required]="true"></p-dropdown>
            </div>

            <button pButton type="submit" class="button-danger" label="Salvar"></button>

        </div>
    </form>
</div>
