<div class="container">
    <div class="content-image"></div>
    <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
        <div class="grid">
            <div class="container-top">
                <div class="col-12 p-fluid">
                    <h1>Criar Conta</h1>
                </div>

                <div class="col-12 p-fluid">
                    <div>Profissão: </div>
                    <input class="input-profissao" pInputText type="text" name="profissao" formControlName="profissao" placeholder="Informe a profissao" required>
                </div>

                <div class="col-12 p-fluid">
                    <div>N° de doações prévias: </div>
                    <input class="input-doacoes" pInputText type="text" name="nome" formControlName="numeroDoacoesPrevias" placeholder="Informe o número de doações prévias" required>
                </div>

                <div class="col-12 p-fluid">
                    <div>Bairro: </div>
                    <input class="input-bairro" pInputText type="text" name="bairro" formControlName="bairro" placeholder="Informe o bairro" required>
                </div>

                <div class="col-12 p-fluid">
                    <div>Cep: </div>
                    <p-inputMask mask="99999-999" [required]="true" placeholder="Ex: 99999-999" name="cep" formControlName="cep"></p-inputMask>
                    <app-message [control]="formulario.get('cep')" error="required" text="Informe o cep"></app-message>
                </div>

                <div class="col-12 p-fluid">
                    <div>Estado: </div>
                    <input class="input-estado" pInputText type="text" name="estado" formControlName="estado" placeholder="Informe o estado" required>
                </div>

                <div class="col-12 p-fluid">
                    <div>Escolaridade: </div>
                    <input class="input-escolaridade" pInputText type="text" name="escolaridade" formControlName="escolaridade" placeholder="Informe a escolaridade" required>
                </div>

                <div class="col-12 p-fluid">
                    <div>Cor: </div>
                    <input class="input-cor" pInputText type="text" name="cor" formControlName="cor" placeholder="Informe sua cor" required>
                </div>

                <div class="col-12 p-fluid">
                  <button pButton type="submit" class="button-danger" [disabled]="formulario.invalid" label="Finalizar"></button>
              </div>

              <div class="col-12 p-fluid">
                  <button pButton type="button" class="color disabled-hover button-voltar" (click)="voltar()" label="Voltar"></button>
              </div>

            </div>
            <div class="container-footer">
                <div>
                    <div class="text-container-footer">Já tem cadastro? <a routerLink="/login">Entrar</a></div>
                </div>
            </div>
        </div>
    </form>
</div>
