.titles {
  top: -390px;
  font-size: 25px;
  width: 100%;
  text-align: center;
  left: 450px;
  font-weight: normal;
}

.relative {
  position: relative;
  top: -40px
}

.relative h2 {
  top: inherit;
  left: inherit
}

.disabled-hover {
  position: relative;
  z-index: 1;
}

.disabled-hover, .p-button:hover{
  background-color: #C0BFBD;
}


form{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  position: relative;
  min-height: 600px;
}

.left{
  flex: 1;
  margin-right: 20px;
}

.right{
  flex: 1;
  margin-left: 20px;
}

.buttom{
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;

}
.buttom button{
  width: 50%;
  margin-top: 15px;
}

.buttom button:first-child{
  margin-right: 25px;
  width: 100%;
}

.buttom button:last-child{
  margin-left: 25px;
}

.col-12 {
  width: 100%;
}

.grid {
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

:host(app-grupo-sanguineo-cadastro) {
  width: 100%;
  margin-left: 350px;
  display: block;
  padding: 10%;
}

@media(max-width: 1280px){
  :host(app-grupo-sanguineo-cadastro){
    zoom: 0.7;
  }
}

.titles {
  position: absolute;
  top: -340px;
  font-size: 25px;
  width: 100%;
  text-align: center;
  left: 450px;
}

.relative {
  position: relative;
}

@media (min-width: 1200px) {
.container {
    width: 1170px;
    margin: 0 auto;
}

}

.pInputText {
  margin: 12px;
}

.espacamento {
  margin-bottom: 15px;
  display: block;
}

.p-button {
  color: #ffffff;
  background-color: #C0BFBD !important;
  border: 1px solid #C0BFBD !important;
  outline: none !important;
  box-shadow: none !important;
  height: 50px;
  font-weight: bold;
}

.p-button-danger {
  color: #ffffff;
  background-color: #D32F2F !important;
  border: 1px solid #D32F2F !important;
  outline: none !important;
  box-shadow: none !important;
  height: 50px;
}

.center {
  margin: 0 auto;
  width: 480px;
}

@media(max-width: 1280px){
  :host(app-grupo-sanguineo-cadastro){
    zoom: 0.6;
  }

  .titles {
    position: absolute;
    top: -140px;
    font-size: 25px;
    width: 100%;
    text-align: center;
    font-weight: normal;
  }
}


